/*/
--COLOUR PALETTE--
primary-light: #8abdff;
primary: #6d5dfc;
primary-dark: #5b0eeb;

white: #FFFFFF;
greyLight-1: #E4EBF5;
greyLight-2: #E4EBF5;
greyLight-3: #bec8e4;
greyDark: #9baacf;
--END COLOUR PALETTE--

--GRADIENTS--
linear-gradient(90deg, rgba(138,189,255,1) 0%, rgba(109,93,252,1) 35%, rgba(91,14,235,1) 100%);
--END GRADIENTS--

--SHADOWS--
shadow: .3rem .3rem .6rem #c8d0e7, 
-.2rem -.2rem .5rem #FFFFFF;
insetShadow: inset .2rem .2rem .5rem #c8d0e7, 
inset -.2rem -.2rem .5rem #FFFFFF;
--END SHADOWS--

/*/
html.neu {
  box-sizing: border-box;
  font-size: 62.5%; /*/ 1rem = 10px    100% = 16px/*/
  overflow-y: scroll;
  background: #e4ebf5;

  @media screen and (min-width: 900px) {
    font-size: 75%;
  }
}
div.neu.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: #e4ebf5;
}
div.neu.insetPanel {
  border-radius: 3rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
  padding: 4rem;
  display: grid;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;
}
div.neu.panel {
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
  padding: 4rem;
  display: grid;
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;
}
*.neu,
*.neu::before,
*.neu::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
button.neu,
input.neu[type="submit"] {
  justify-self: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #e4ebf5;
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}
button.neu:hover:enabled,
input.neu[type="submit"]:hover:enabled {
  box-shadow: 0.4rem 0.4rem 0.7rem #c8d0e7, -0.3rem -0.3rem 0.6rem #ffffff;
}
button.neu:active:enabled,
input.neu[type="submit"]:hover:enabled {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #ffffff;
}
.neu.squareCorners {
  border-radius: 0;
}
.neu.roundCorners {
  border-radius: 6rem;
}
table.neu {
  text-align: center;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}
table.neu th {
  padding: 1rem;
  box-shadow: 0.9rem 0.9rem 1.6rem #c8d0e7;
}
table.neu td {
  padding: 1rem;
}
table.neu tr {
  padding: 2rem;
}
table.neu tr:hover {
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}
table.neu td:hover {
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
}
input.neu[type="text"],
input.neu[type="search"],
input.neu[type="email"],
input.neu[type="date"],
input.neu[type="number"],
input.neu[type="password"],
input.neu[type="tel"],
input.neu[type="time"],
input.neu[type="url"],
input.neu[type="week"],
input.neu[type="datetime"],
input.neu[type="datetime-local"],
input.neu[type="month"] {
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
  padding: 1rem;
  border-color: transparent;
  background: #e4ebf5;
}
textarea.neu {
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
  padding: 1rem;
  border-color: transparent;
  background: #e4ebf5;
}
.neu.concave {
  background: linear-gradient(145deg, #cdd4dd, #f4fbff);
}
.neu.convex {
  background: linear-gradient(145deg, #f4fbff, #cdd4dd);
}

input.neu.switch[type="checkbox"] {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  width:4.5rem;
  transition: 0.2s ease;
  display: block;
  left: -100vw;
}
input.neu.switch[type="checkbox"]::before {
  content: "";
  position: relative;
  margin: 0 auto;
  display: block;
  width: 3.333rem;
  height: 1.666rem;
  border-radius: 5rem;
  background: #E4EBF5;/*/#999/*/
  transition: 0.2s ease;
  left: 100vw;
  box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}
input.neu.switch[type="checkbox"]::after {
  content: "";
  position: relative;
  left: 100vw;
  display: block;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  background: #E4EBF5;/*/#eee/*/
  top: -1.8333rem;
  border-radius: 1.666rem;
  transition: 0.2s ease;
  box-sizing: border-box;
  transform: translateX(-70%);
  box-shadow: 0.0666rem 0.0666rem 0.1333rem rgba(0, 0, 0, 0.5);
}
input.neu.switch[type="checkbox"]:checked::before {
  background: linear-gradient(
    -90deg,
    rgba(138, 189, 255, 1) 0%,
    rgba(109, 93, 252, 1) 35%,
    rgba(91, 14, 235, 1) 100%
  );
}
input.neu.switch[type="checkbox"]:checked::after {
  transform: translateX(70%);
  box-shadow: 0.1333rem 0.1333rem 0.1333rem rgba(0, 0, 0, 0.5);
}
